
<!DOCTYPE html>


<html>


 <head>


 <meta charset="utf-8" />


 <meta http-equiv="X-UA-Compatible" content="IE=edge">


 <title>{% block title %} {% endblock %}</title>


 <meta name="viewport" content="width=device-width, initial-scale=1">


 <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("maxresdefault.jpg");
    min-height: 100%;
}
.menu 
    display: none;
}

</style>
 </head>


 <body>


 <nav class="navbar navbar-default">


 <div class="container">


 <div class="navbar-header">


 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"


aria-controls="navbar">


 <span class="sr-only">Toggle navigation</span>


 <span class="icon-bar"></span>


 <span class="icon-bar"></span>


 <span class="icon-bar"></span>


 </button>


 <a class="navbar-brand" href="#">CIS</a>


 </div>


 <div id="navbar" class="collapse navbar-collapse">


 <ul class="nav navbar-nav">


 <li>


 <a href="/">Home</a>


 </li>
<li>


 <a href="/finalschd">Final Exam Schedule</a>


 </li>


<li>


 <a href="/programs">Programs</a>


 </li>
{% if session['name'] %}

<li>


 <a href="/schd">Schdule</a>


 </li>
 <li>


 <a href="/logout">Logout</a>


 </li>


 {% else %}

 <li>


 <a href="/login">Login</a>


 </li>




 {% endif %}


 </ul>


 </div>


 </div>


 </nav>




{% block content %} {% endblock %}


 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>


 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


 </body>


</html>