

{% extends 'layout.html' %}




{% block title %} Schdule {% endblock %}





{% block content %}

<style type="text/css">
  table {
  border-style: groove;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 100px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #822020;
    color: white;
}
  p{
    font-size: 70px;
    margin: auto;
      text-align: center;
      padding-top: 20%;
      color: white;
  }
</style>
<head>
   <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />

</head>

<!-- Header with image -->
<div class="bgimg w3-display-container w3-grayscale-min" id="home">


     

    <p>
    {% if session['name'] %}


    Welcome {{ session['name'] }}


    {% else %}


    Computer Information science


    {% endif %}
    </p>
  

</div>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large"></div>

<h2><center>Final Exams Schedule</center></h2>

<table align="center">
  <tr>
    <th>Course Name and title</th>
    <th>Meeting Information</th>
    <th>Creds</th>
    <th>Start date</th>
  </tr>
  <tr>
    <td>GCIS_583_0A (8712) Intro to Cloud Architecture</td>
    <td>08/23/2018-12/13/2018 Lecture Tuesday, Thursday 01:30PM - 02:50PM, Zurn, Room 355</td>
    <td>3</td>
    <td>08/22/18</td>
  </tr>
  <tr>
    <td>GCIS_605_0A (7880) Scholarship Seminar</td>
    <td>08/23/2018-12/13/2018 Lecture Tuesday, Thursday 01:30PM - 02:50PM, Zurn, Room 355</td>
    <td>3</td>
    <td>08/22/18</td>
  </tr>
  <tr>
    <td>GCIS_646_0A (7882) Archtct Entrp Info Sys</td>
    <td>08/23/2018-12/13/2018 Lecture Tuesday, Thursday 01:30PM - 02:50PM, Zurn, Room 355</td>
    <td>3</td>
    <td>08/22/18</td>
  </tr>
</table>
</div>

{% endblock %}
